@tailwind base;
@tailwind components;
@tailwind utilities;
.create-btn{

    border-radius: 10px;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    background-color: #00ff84;
}
.save-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #1ef8ff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}
.save-form label{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.save-form>div{
    margin: 5px;
    padding: 5px;
    background-color: #565656;
    color: #ffffff;
    border-radius: 5px;
}
.send{
    background-color: #2977ff;
}
.search-form{
    width: 530px;
    background-color: #1ef8ff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}
.search-form>div{
    margin: 5px;
    padding: 5px;
    background-color: #565656;
    color: #ffffff;
    border-radius: 5px;
}
